name: Testing with Pytest

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Run Pytest Tests
      run: |
        pytest test/test_pytest.py -v --junitxml=pytest-report.xml
      continue-on-error: false
    
    - name: Upload Test Results
      uses: actions/upload-artifact@v2
      with:
        name: pytest-results
        path: pytest-report.xml
    
    - name: Tests Passed
      if: success()
      run: echo "✅ All Pytest tests passed successfully!"
    
    - name: Tests Failed
      if: failure()
      run: echo "❌ Pytest tests failed!"
