name: Testing with Unittest

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Run Unittest Tests
      run: |
        python -m unittest test.test_unittest -v
    
    - name: Tests Passed
      if: success()
      run: echo "✅ All Unittest tests passed successfully!"
    
    - name: Tests Failed
      if: failure()
      run: echo "❌ Unittest tests failed!"
